@import 'sprite';
@import 'compass';

$first_top: 100px;

div.vehicle {
  position: absolute;
  left: -200px;

  &.car-1 {
    width: 125px;
    height: 57px;
    @include cars-sprite('bus_1');
    top: $first_top;
  }

  &.car-2 {
    width: 150px;
    height: 64px;
    @include cars-sprite('bus_2');
    top: $first_top + 30;
  }

  &.car-3 {
    width: 125px;
    height: 59px;
    @include cars-sprite('bus_3');
    top: $first_top + 60;
  }
}
