@import 'sprite';
@import 'compass';

$first_top: 15px;

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('/images/brick.png') top left repeat-x;
}

section.road {
  position: absolute;
  top: 275px;

  div.vehicle {
    position: absolute;
    left: -200px;

    &.car-1 {
      width: 125px;
      height: 57px;
      @include cars-sprite('bus_1');
      top: $first_top;
    }

    &.car-2 {
      width: 150px;
      height: 64px;
      @include cars-sprite('bus_2');
      top: $first_top + 30;
    }

    &.car-3 {
      width: 125px;
      height: 59px;
      @include cars-sprite('bus_3');
      top: $first_top + 60;
    }

    &.car-4 {
      width: 130px;
      height: 62px;
      @include cars-sprite('bus_4');
      top: $first_top + 70;
    }

    &.car-5 {
      width: 125px;
      height: 66px;
      @include cars-sprite('bus_5');
      top: $first_top + 100;
    }

    &.car-6 {
      width: 125px;
      height: 48px;
      @include cars-sprite('bus_6');
      top: $first_top + 100;
    }

    &.car-7 {
      width: 200px;
      height: 267px;
      @include cars-sprite('bus_7');
      top: $first_top + 100;
    }

    &.car-8 {
      width: 80px;
      height: 57px;
      @include cars-sprite('bus_8');
      top: $first_top + 120;
    }

    &.car-9 {
      width: 130px;
      height: 55px;
      @include cars-sprite('bus_9');
      top: $first_top + 130;
    }

    &.car-10 {
      width: 125px;
      height: 64px;
      @include cars-sprite('bus_10');
      top: $first_top + 130;
    }

    &.car-11 {
      width: 125px;
      height: 50px;
      @include cars-sprite('bus_11');
      top: $first_top + 140;
    }

    &.car-12 {
      width: 125px;
      height: 60px;
      @include cars-sprite('bus_12');
      top: $first_top + 150;
    }

    &.car-13 {
      width: 130px;
      height: 67px;
      @include cars-sprite('bus_13');
      top: $first_top + 160;
    }

    &.car-14 {
      width: 130px;
      height: 55px;
      @include cars-sprite('bus_14');
      top: $first_top + 170;
    }
  }
}
