@import 'sprite';
@import 'compass';

$first_top: 100px;

* {
  margin: 0;
  padding: 0;
}

div.vehicle {
  position: absolute;
  left: -200px;

  &.car-1 {
    width: 125px;
    height: 57px;
    @include cars-sprite('bus_1');
    top: $first_top;
  }

  &.car-2 {
    width: 150px;
    height: 64px;
    @include cars-sprite('bus_2');
    top: $first_top + 30;
  }

  &.car-3 {
    width: 125px;
    height: 59px;
    @include cars-sprite('bus_3');
    top: $first_top + 60;
  }

  &.car-4 {
    width: 130px;
    height: 62px;
    @include cars-sprite('bus_4');
    top: $first_top + 70;
  }

  &.car-5 {
    width: 125px;
    height: 66px;
    @include cars-sprite('bus_5');
    top: $first_top + 100;
  }

  &.car-6 {
    width: 125px;
    height: 48px;
    @include cars-sprite('bus_6');
    top: $first_top + 100;
  }

  &.car-7 {
    width: 200px;
    height: 267px;
    @include cars-sprite('bus_7');
    top: $first_top + 100;
  }

  &.car-8 {
    width: 80px;
    height: 57px;
    @include cars-sprite('bus_8');
    top: $first_top + 120;
  }
}

div.building {
  position: absolute;

  &.building-1 {
    top: 30px;
    right: 2%;
    width: 75px;
    height: 68px;
    @include buildings-sprite('building_1');
  }

  &.building-2 {
    top: 30px;
    right: 25%;
    width: 80px;
    height: 86px;
    @include buildings-sprite('building_2');
  }
}
